:root {
  /* Colores */
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --black-color: #000000;
  --border-color: #06001A;
  --gray-color: #d9d9d9;
  --gray-dark-color: #5a5a5a;
  --gray-light-color: #f4f4f4;
  --primary-alpha-color: rgba(77, 82, 197, 0.75);
  --primary-color: #4d52c5;
  --second-alpha-color: rgba(24, 27, 36, 0.75);
  --second-color: #181b24;
  --text-color: #232323;
  --third-alpha-color: rgba(167, 167, 167, 0.75);
  --third-color: #a7a7a7;
  --title-color: #343434;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --white-color: #ffffff;
  --link-color: #ccccff;

  /* Gradientes */
  --gradient-background: linear-gradient( 121.7deg,  rgba(0,0,0,1) 18.1%, rgba(3,3,48,1) 38.6%, rgba(3,5,30,1) 43.1%, rgba(3,3,56,1) 47.3%, rgba(0,0,0,1) 58.4%, rgba(0,0,0,0.98) 81.9% );
  --gradient-turistica: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,0,0,1) 0%, rgba(215,0,0,1) 35%, rgba(167,0,0,1) 53.2%, rgba(255,0,0,1) 90% );
  --gradient-arapey: linear-gradient( 114.3deg,  rgba(57,192,255,1) 4.9%, rgba(0,142,210,1) 54.7%, rgba(0,137,200,1) 70.7%, rgba(1,148,217,1) 101.9% );
  --gradient-border: radial-gradient(circle 856px at 10% 20%, rgba(10, 10, 10, 1) 0%, rgba(31, 31, 31, 1) 90%);
  --gradient-text: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);

  /* Tipografía */
  --font: "Mona sans", sans-serif;

  /* Diseño */
  --header-height: 3rem;
  --max-width: 1920px;
}

/* Reset CSS */
html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}

/* Estilos globales */
html {
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}
a {
  color: var(--link-color);
  transition: all 0.5ms ease-out;
  opacity: 80%;
}
a:hover {
  opacity: 100%;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85rem;
}
h6 {
  font-size: 0.7rem;
}

/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Párrafos */
p {
  line-height: 1.6;
}



/****************-COMPONENTS-****************/
/****************-RADIO ARAPEY-****************/
.radios {

}

.radio-arapey {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 100px;
  position: relative;
  background-image: var(--gradient-text);
}

.radio-turistica {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white-alpha-color);
  padding: 0;
  height: 100px;
  position: relative;
  align-items: center;
  background-image: var(--gradient-turistica);
}

.reproductor-web::-webkit-media-controls-enclosure {
  background-color: var(--white-alpha-color);
  border-radius: 3px;
}

.radio-arapey h2,
.radio-turistica h2 {
  font-size: 2vh;
}


