:root {
  /*Custom properties*/
  --background-primary: rgb(5, 5, 5);
  --background-header: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 0, 0) 0%, rgba(0,0,0,1) 49.7%, rgb(4, 6, 17) 90% );
  --background-body:
  --background-proyects:
  --background-contact: 
    background-footer:;
  --text-primary: #fff;
  --text-secondary: #06001A;
  --text-inactive: #cdcdcda6;
  --text-link: #9c9e6c;
  --text-link-hover: #d7d995;
  --text-invert: #1b1b1b;

/* Colores */
--color-black-alpha: rgba(0, 0, 0, 0.5);
--color-black: #000000;
--color-gray: #d9d9d9;
--color-gray-dark: #5a5a5a;
--color-gray-light: #f4f4f4;
--color-primary-alpha: rgba(77, 82, 197, 0.75);
--color-primary: #4d52c5;
--color-second-alpha: rgba(24, 27, 36, 0.75);
--color-second: #181b24;
--color-third-alpha: rgba(167, 167, 167, 0.75);
--color-third: #a7a7a7;
--color-title: #646464;
--color-logo: #e5ff9e;
--color-white-alpha: rgba(255, 255, 255, 0.5);
--color-white: #ffffff;

/* Gradientes */
--background-gradient: 
--border-gradient: radial-gradient(circle 856px at 10% 20%, rgba(10, 10, 10, 1) 0%, rgba(31, 31, 31, 1) 90%);
--text-gradient: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);

  /* Tipografía */
  --font: 'Inter', sans-serif;

  /* Diseño */
  --header-height: 4rem;
  --max-width: 1920px;
}

/* Reset CSS */
html {
  box-sizing: border-box;
}
*, *::before, ::after {
  box-sizing: inherit;
}

/* Estilos globales */
html {
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--background-primary);
  color: var(--text-primary)
}

a {
  color: var(--text-link);
  transition: all 0.5ms ease-out;
  opacity: 80%;
}

a:hover {
  opacity: 100%;
  color: var(--text-link-hover);
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.85rem;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: 0.6rem;
}

/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Párrafos */
p {
  line-height: 1.6;
}

svg{
  width: 55%;
  height: auto;
}



/****************-COMPONENTS-****************/
/****************-RADIO ARAPEY-****************/

/* 
.radio-arapey {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 100px;
  position: relative;
  background-image: var(--arapey-gradient);
}

.radio-turistica {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white-alpha-color);
  padding: 0;
  height: 100px;
  position: relative;
  align-items: center;
  background-image: var(--turistica-gradient);
}

.reproductor-web::-webkit-media-controls-enclosure {
  background-color: var(--white-alpha-color);
  border-radius: 3px;
}

.radio-arapey h2,
.radio-turistica h2 {
  font-size: 2vh;
}  */



.contact {
  width: 100%;
  height: 180px;
}

.contact-items {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  background-image: var(--background-header);
  backdrop-filter: blur(6px);
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.contact-items svg{
fill: var(--text-link);
margin-right: 0;
}

.contact-items svg:hover{
fill: var(--text-link-hover);
}

/*---------------Menú-----------------*/
.logo {
  padding-top: .1rem;
}

.logo a {
  pointer-events: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-logo);
}

.menu {
  position: fixed;
  bottom: var(--header-height);
  position: center;
  padding: 0;
  width: 130px;
  border-radius: 0.3rem 0.3em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu a {
  padding: 0.5rem;
  font-size: 1.5;
  justify-content: center;
  text-decoration: none;
}


.menu-btn {
  border: none;
  outline: hidden;
  background: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  
  align-items: center;
}

.menu-btn svg {
  width: inherit;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
  fill: var(--text-link)
}

/* .menu-btn svg:hover, */
.menu-btn svg:hover {
  fill: var(--text-link-hover)
}

.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}

/*---------Utilities----------*/

.container {
  margin-left: 0;
  margin-right: 0;
  max-width: var(--max-width);
}

.none {
  display: none;
}

/*----------Site Styles---------*/
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;
  padding: 0.5rem;
  width: 100%;
  height: var(--header-height);
  background-image: var(--background-header);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.container a {
  text-decoration: none;
}






